@font-face {
    font-family: 'Crete Round';
    src: url('/fonts/CreteRound-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
}

body {
    color: #592b1c;         /* Sets the text color */
    background-color: #f0c389;  /* Sets the background color */
    font-family: 'Crete Round', serif;
    margin-bottom: 50px;
}

/* CSS style for navbar*/
.navbar-custom {
    background-color: #a33907;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

/* CSS style for arrows on bottom of pages*/
.left-arrow, .right-arrow {
    font-size: 32px;
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.left-arrow:hover, .right-arrow:hover {
    color: #fff;
    background-color: #6899cd;
    border-color: #407dbe;
}

.nav-arrows-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 1000;
}

.left-arrow, .right-arrow {
    margin: 0 15px;
}

/* CSS style for welcome page*/

.container.game-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.game-maininfo {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.game-container .game-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.game-container .logo-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.game-container .game-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.game-container .game-info {
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}
.game-info p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0;
}
.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: auto;
    text-align: center;
    font-size: 16px;
}

/*sidebar history css*/
.history-items img {
    width: 100%; 
    margin-bottom: 10px; 
}

.history-items p {
    font-size: 14px;
    text-align: center; 
    margin-bottom: 20px; 
}

.show_progress{
    margin: 5%;
}

.progress_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_tracker {
    display: flex;
    align-items: center;
}

.step {
    margin: 0 20px;
    width: 30px;
    height: 30px;
    border: 2px solid dimgray;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: dimgray;
    font-family: Arial, sans-serif;
}

.progress_text {
    margin: 0 18px; 
    font-size: 0.8em;
    color: gray; 
    text-align: center;
}

.step.completed {
    border-color: green;
    background-color: green;
    color: white;
}

.step.now {
    border-color: orange;
    background-color: orange;
    color: white;
}

.step:not(:last-child)::after {
    content: '';
    width: 60px;
    height: 2px;
    background-color: dimgray;
    position: absolute;
    left: 50%;
    z-index: -1;
}

.step.completed:not(:last-child)::after {
    background-color: green;
}

.icon {
    font-size: 1em;
}