#quizOptions li.ui-state-default {
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    cursor: move;
}

#quizOptions li.ui-state-highlight {
    height: 2.5em;
    line-height: 1.2em;
    background-color: #ffffe0;
    border: 1px dashed #ccc;
}