{% extends "layout.html" %}
{% block content %}

    <head>
        <script src="{{ url_for('static', filename='js/combo.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/combo.css')}}">
    </head>

    <h1>Combo Details</h1>
    <p>This page is for Combo Page {{ combo_id }}.</p>
    {% if combo_id == 5 %}
        <p>This is the last page for this section.</p>
    {% endif %}


    <div class="row">

        <div class="col-4 border">
{#            {% set link = "/detail/" ~ combo[0].id %}#}
{#            <a href={{ link }}>#}
            <a class="btn btn-primary" data-toggle="collapse" href="#des1" role="button" aria-expanded="false">
                <h2>{{ combo[0].name }}</h2>
                <img class="img-fluid size" src={{ combo[0].image }} alt={{ combo[0].name }}">
            </a>
        </div>

        <div class="col-4 border">
{#            {% set link = "/detail/" ~ combo[1].id %}#}
{#            <a href={{ link }}>#}
            <a class="btn btn-primary" data-toggle="collapse" href="#des2" role="button" aria-expanded="false">
                <h2>{{ combo[1].name }}</h2>
                <img class="img-fluid size" src={{ combo[1].image }} alt={{ combo[1].name }}">
            </a>
        </div>

        {% if combo|length == 3 %}
            <div class="col-4 border">
{#                {% set link = "/detail/" ~ combo[2].id %}#}
{#                <a href={{ link }}>#}
                <a class="btn btn-primary" data-toggle="collapse" href="#des3" role="button" aria-expanded="false">
                    <h2>{{ combo[2].name }}</h2>
                     <img class="img-fluid size" src={{ combo[2].image }} alt={{ combo[2].name }}">
                </a>
            </div>
        {% endif %}

    </div>

    <div class="row">
        <div class="col-4">
            <div class="collapse multi-collapse" id="des1">
                <div class="card card-body">
                    {{ combo[0].description }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="collapse multi-collapse" id="des2">
                <div class="card card-body">
                    {{ combo[1].description }}
                </div>
            </div>
        </div>

        {% if combo|length == 3 %}
            <div class="col-4">
                <div class="collapse multi-collapse" id="des3">
                    <div class="card card-body">
                        {{ combo[2].description }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    <div class="nav-arrows-container">
        <a href="{{ url_for('decrement_progress') }}" class="left-arrow">←</a>
        <a href="{{ url_for('increment_progress') }}" class="right-arrow">→</a>
    </div>
{% endblock %}

