{% extends "layout.html" %}
{% block content %}

    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/finish.css')}}">
    </head>

    <h1 class="text-center title">Congratulation for finishing the tutorial!!!</h1>
    <h1 class="text-center title">Now lets moving to the next step…</h1>

    <div class="row d-flex align-items-center justify-content-center">
        <img src="../static/img/landlord.png" class="img-fluid img" alt="finish">
    </div>

    <div class="row d-flex align-items-center justify-content-center">
        <a href="{{ url_for('quiz') }}" class="btn btn-success">Start the quiz</a>
    </div>

    <div class="nav-arrows-container">
        <a href="{{ url_for('decrement_progress') }}" class="left-arrow">←</a>
    </div>
{% endblock %}

