{% extends "layout.html" %}
{% block content %}
<head>
    <script src="{{ url_for('static', filename='js/rules.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/rules.css')}}">

</head>
    <h1>Card Rank</h1>

        <div class="show_progress">
        <div class="progress_bar">
            <div class="progress_tracker">
                {% for step in range(1, 10) %}
                    {% if step <= 3 %}
                        <div class="step completed">
                            <span class="icon">✔</span>
                        </div>
                    {% elif step == 4 %}
                        <div class="step now">
                            <span class="icon">I</span>
                        </div>
                    {% else %}
                        <div class="step">
                            <span class="icon"></span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="progress_bar">
            <div class="progress_tracker">
                {% for step in range(1, 10) %}
                    <div class="progress_text">Step {{ step }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <p>{{ rank }}</p>
        </div>
    </div>
        
    <div class="game-images">
        <div class="player player3" id="landlordPlayer">
            <div class="card-stack1" id="player3-cards">
                {% set ranks = ['3S', '4S', '5S', '6S', '7S', '8S', '9S', '10S', 'JS', 'QS', 'KS', 'AS', '2S', 'jocker1', 'jocker2'] %}
                {% for rank in ranks %}
                <img src="{{ url_for('static', filename='img/cards/' ~ rank ~ '.png') }}" alt="{{ rank }} of Diamonds" class="img-fluid card-image">
                {% endfor %}
            </div>
           
        </div>
    </div>
        
    </div>
    <p style="text-align: center; width: 100%;">(Card ranking from low to high)</p>   
    <div class="nav-arrows-container">
        <a href="{{ url_for('decrement_progress') }}" class="left-arrow">←</a>
        <a href="{{ url_for('increment_progress') }}" class="right-arrow">→</a>
    </div>
{% endblock %}

