{% extends 'layout.html' %}
{% block content %}
<div class="container game-container">
    <div class="row game-maininfo vertical-center">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/welcome.jpg') }}" alt="Dou Dizhu Background" class="img-fluid game-image">
        </div>
        <div class="col-md-6">
            <h1 class="game-name text-center">Dou Dizhu</h1>
            <div class="game-info bg-light p-3">
                
                <p>Region: China</p>
                <p>Popularity: ❤️❤️❤️❤️❤️</p>
                <p>Difficulties: ✅✅✅☑️☑️</p>
                <a href="{{ url_for('current_progress') }}" class="btn btn-success">
                {% if progress == 1 %}
                    Start the Tutorial
                {% else %}
                    Continue the Tutorial
                {% endif %}</a>
                
                
            </div>
                
                
        </div>
    </div>
    
</div>


{% endblock %}

